# APPLICATION
PORT=5000

# DATABASE
DB_HOST="192.168.1.5"
DB_PORT=3306
DB_NAME=maruti_business_platform
DB_USER=root
DB_PASSWORD="YOUR_MYSQL_PASSWORD"

#FRONTEND
FRONTEND_URL=http://localhost:5173
#ENVIRONMENT
NODE_ENV=development